:root {
    --width-input: 120px;
}

body {
    width: 100vh;
    height: 97vh;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    background: radial-gradient(circle at center, #0575E6, #575);
}

.form-control {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-control select,
.form-control input {
    width: var(--width-input);
    padding: 5px;
    margin: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-control select {
    width: 160px;
}

.form-control input[type="submit"] {
    background-color: lightblue;
    border: none;
    cursor: pointer;
}

.edit-settings {
    padding: 5px;
    margin: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: lightblue;
    max-height: 32px;
}

.form-control select,
input[type="text"]:focus,
input[type="submit"]:focus {
    outline: none;
    box-shadow: 0 0 10px lightblue;
}

#settings {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-family: sans-serif;
    font-size: 18px;
    color: white;
}

#settings p {
    margin: 0;
    padding: 5px 0;
}

.hidden {
    display: none;
}